ion-slides {
    height: 100%;
  }

  .push-button{
    position: absolute;
    left: 0;
  }

  .cover{
    background-color: #5260ff;

    .wrapper{
      height: 100%;
      width: 100%;
  
      .title-header{
        height: 100px;
        width: 100%;
        margin-top: 100px;
        .docscan{
          color:white;
          font-size: 14px;
          width: 100%;
          float: left;
        }
        .patak{
            color:white;
            font-size: 32px;
            width: 100%;
            float: left;
        }
        img{
          width: 100px;
          height: 80px;
        }
      }
  
      .product-title{
        position: absolute;
        height: 100px;
        width: 100%;
        bottom: 0;
    
        .powered{
          width: 100%;
          float: left;
          color:white;
          font-size: 12px;
        }
    
        .version{
          width: 100%;
          float: left;
          color:white;
          font-size: 12px;
        }
      }
    }

  }

  ion-icon {
    font-size: 32px;
  }

  .loader-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
